@import '../../scss/default/color_variable';

.cs-section_heading {
  max-width: 600px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 2;
  
  &.cs-style1 {
    .cs-section_subtitle {
      font-size: 16px;
      line-height: 1.5em;
      margin-bottom: 15px;
      color: $accent;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }

  &.cs-style1.cs-type1 {
    text-align: left;
    margin: initial;
  }

  .cs-section_text {
    margin-top: 25px;
  }
}
