.cs-page_heading {
  position: relative;
  padding: 140px 0 110px;
  background-size: cover;
  background-position: center;
}

.cs-page_heading.cs-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
